*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    overflow: hidden;
    background-image: url(../imagens/FundoAmarelo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

article input{
    display: none;
}

section{
    display: flex;
    align-items: end;
}

#midia{
    width: 65%;
    height: 100vh;
}

#video{
    width: 85%;
    height: 70%;
    background-color: #ffdc42;
    margin-top: 3%;
    border-radius: 20px;

    background-image: url(../imagens/GabsCast\ \(100\ x\ 70\ px\)\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
}

#video .imgPrincipal{
    height: 90%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.tituloVideo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.tituloVideo p{
    font-size: 20px;
}

.tituloVideo img{
    height: 50%;
    margin: 0 10px;
}
.separarTituloPc{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fotoMidia{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    height: 100%;
    width: 100%;
    border-top-right-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#controles{
    width: 100%;
    height: 20%;
    background-color: #ffdc42;
    border-top-right-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#controles img{
    width: 20%;
    height: 60%;
}

#rolagem{
    overflow-y: scroll;
    max-height: 100vh;
    width: 35%;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

.eps{
    background-color: #ffdc42;
    height: 280px;
    width: 90%;
    border-radius: 20px;
    background-image: url(../imagens/GabsCast\ \(100\ x\ 70\ px\)\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px -7px 113px -41px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -7px 113px -41px rgba(0,0,0,0.75);
    box-shadow: 10px -7px 113px -41px rgba(0,0,0,0.75); 
}

.eps img{
    height: 85%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.tituloEp{
    width: 90%;
    padding: 0 15px;
}

.tituloEp p{
    font-size: 16px;
    color: #000;
}

#telaMidiaMobile, #controlesMobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    #midia{
        display: none;
    }

    #rolagem{
        width: 100%;
    }

    #controlesMobile{
        background-color: #ffdc42;
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 10px 9px 37px 1px rgba(0,0,0,0.75);

        width: 100%;
        height: 80px;
        position: fixed;
        left: 0;
        bottom: 0;
        border-top-right-radius: 25px;
        transition: 2s;
        padding: 0 10px;

        display: flex;
        align-items: center;
    }

    #telaMidiaMobile{
        width: 100%;
        height: 100vh;
        transition: 2s;
        position: fixed;
        display: none;

        background-image: url(../imagens/FundoAmareloMobile.svg);
        background-repeat: no-repeat;
        background-size: cover;

        align-items: start;
        padding: 20px;
        flex-direction: column;
    }

    .fotinha{
        height: 70%;
        width: 20%;

        background-position: center;
        background-repeat: no-repeat;
    }

    .fotinha img{
        height: 100%;
        width: 100%;
    }

    .parteMidia{
        width: 100%;
        height: 70%;
        display: flex;
        padding: 7px;

        justify-content: space-between;
    }

    .imgText{
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .imgText img{
        height: 15px;
        width: 15px;
    }

    .separarTitulo{
        white-space: nowrap;
        max-width: 70%;
        font-size: 13px;
    }

    .textosNomes img{
        width: 100px;
    }
    .controles{
        display: flex;
        justify-content: center;
        gap: 60px;
        margin-top: 5%;
    }

    .coração img{
        width: 35px;
        height: 35px;
    }

    .telaMobile{
        width: 100%;
        height: 200px;
    }

    .telaMobile img{
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #midiaMobile{
        height: 280px;
        width: 100%;
        margin-top: 25%;

        background-color: #6e08bc;
        border-radius: 20px;
        background-image: url(../imagens/GabsCast\ \(100\ x\ 70\ px\)\ \(2\).png);
        background-position: center;
        background-repeat: no-repeat;
    }

    #midiaMobile img{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }

    .headerMobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .centralizarTitulo{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .tituloTelaCheia{
        margin-top: 15%;

        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .seprarTextoTelaCheia{
        max-width: 200px;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }

    .seprarTextoTelaCheia .titulo{
        font-size: 16px;
    }
}